#results {
    display: grid;
    justify-content: center;
    align-items: center;
    height: 100vh; 
}

.book-box {
    width: 200px;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
    display: flex;
    flex-direction: column; 
    align-items: center; 
}

.book-box:hover {
    transform: scale(1.05);
}

.book-title {
    font-size: 1.5em;
    font-weight: bold;
    margin: 15px 0;
}

.book-cover {
    width: 100%; 
    max-height: 400px; 
    border-radius: 10px;
    display: block;
    margin: 0 auto;
    transition: transform 0.2s ease-in-out;
}

.book-details {
    display: none;
    padding: 10px;
}

.show-details .book-details {
    display: block;
}

.book-authors, .book-description {
    display: none;
    font-size: 0.9em;
}

.show-details .book-authors, .show-details .book-description {
    display: block;
}

a {
    text-decoration: none;
    color: #0070c9;
}

a:hover {
    text-decoration: underline;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,600;1,200;1,300;1,400&display=swap');

:root{
    --green: #27ae60;
    --dark-color: #219150;
    --black: #000000;
    --light-color: #666;
    --border: .1rem solid rgba(0, 0, 0, 0.1);
    --border-hover: .1rem solid var(--black);
    --green: 0 .5rem 1rem rgba(0, 0, 0, 0.1);    
}

*{
    font-family: 'Poppins', sans-serif;
    margin: 0; padding: 0;
    box-sizing: border-box;
    outline: none; border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .2s linear;
    transition: width none;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 5rem;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar{
    width: 1rem;
}

html::-webkit-scrollbar-track{
    background: transparent;
}

html::-webkit-scrollbar-thumb{
    background: var(--black);
}

.btn{
    margin-top: 1rem;
    display: inline-block;
    padding: .9rem 3rem;
    border-radius: .5rem;
    color: #fff;
    background: var(--dark-color);
    font-size: 1.7rem;
    cursor: pointer;
    font-weight: 500;
}

.btn:hover{
    background: var(--dark-color);
}

.header .header-1{
    background: #fff;
    padding: 1.5rem 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header .header-1 .logo{
    font-size: 2.5rem;
    font-weight: bolder;
    color: var(--dark-color);
}

.header .header-1 .logo i{
    color: var(--green);
}

.header .header-1 .pesquisa-formulario{
    width: 50rem;
    height: 5rem;
    border: var(--border);
    overflow: hidden;
    background: #fff;
    display: flex;
    align-items: center;
    border-radius: .5rem;
}

.header .header-1 .pesquisa-formulario input{
    font-size: 1.6rem;
    padding: 0 1.2rem;
    height: 100%;
    width: 100%;
    text-transform: none;
    color: var(--black);
}

.header .header-1 .pesquisa-formulario label{
    font-size: 2.5rem;
    padding-right: 1.5rem;
    color: var(--black);
    cursor: pointer;
}

.header .header-1 .pesquisa-formulario label:hover{
    color: var(--dark-color);
}

.header .header-1 .icones div,
.header .header-1 .icones a{
    font-size: 2.5rem;
    margin-left: 1.5rem;
    color: var(--black);
    cursor: pointer;
}

.header .header-1 .icones div:hover,
.header .header-1 .icones a:hover{
    color: var(--dark-color);
}

#pesquisa-btn{
    display: none;
}

.header .header-2{
    background: var(--dark-color);
}

.header .header-2 .navbar{
    text-align: center;
}

.header .header-2 .navbar a{
    color: #fff;
    display: inline-block;
    padding: 1.2rem;
    font-size: 1.7rem;
}

.header .header-2 .navbar a:hover{
    background: var(--dark-color);
}

.botao-navbar{
    text-align: center;
    background: var(--dark-color);
    position: fixed;
    bottom: 0; left: 0; right: 0;
    z-index: 1000;
    display: none;
}

.botao-navbar a{
    font-size: 2.5rem;
    padding: 2rem;
    color: #fff;
}

.botao-navbar a:hover{
    background-color: var(--dark-color);
}

.login-form-container{
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(255, 255, 255, .9);
    position: fixed;
    top: 0; right: -105%;
    z-index: 10000;
    height: 100%;
    width: 100%;
}

.login-form-container.active{
    right: 0;
}

.login-form-container form{
    background: #fff;
    border: var(--border);
    width: 40rem;
    padding: 2rem;
    box-shadow: var(--box-shadow);
    border-radius: .5rem;
    margin: 2rem;
}

.login-form-container form h3{
    font-size: 2.5rem;
    text-transform: uppercase;
    color: var(--black);
    text-align: center;
}

.login-form-container form span{
    display: block;
    font-size: 1.5rem;
    padding-top: 1rem;
}

.login-form-container form .box{
    width: 100%;
    margin: .7rem 0;
    font-size: 1.6rem;
    border: var(--border);
    border-radius: 5rem;
    padding: 1rem 1.2rem;
    color: var(--black);
    text-transform: none;
}

.login-form-container form .checkbox{
    display: flex;
    align-items: center;
    gap: .5rem;
    padding: 1rem 0;
}

.login-form-container form .checkbox label{
    font-size: 1.5rem;
    color: var(--light-color);
    cursor: pointer;
}

.login-form-container form .btn{
    text-align: center;
    width: 100%;
    margin: 1.5rem 0;
}

.login-form-container form p{
    padding-top: .8rem;
    color: var(--light-color);
    font-size: 1.5rem;
}

.login-form-container form p a{
    color: var(--green);
    text-decoration: underline;
}

.login-form-container #fechar-login-btn{
    position: absolute;
    top: 1.5rem; right: 2.5rem;
    font-size: 5rem;
    color: var(--black);
    cursor: pointer;
}

/* Estilos para o pop-up */
.popup-container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.popup-content {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    text-align: center;
}

.popup-img {
    max-width: 100%;
    height: auto;
}

.popup-close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

@media (max-width: 991px){

    html{
        font-size: 55%;
    };

    .header .header-1{
        padding: 2rem;
    }
}

@media (max-width: 768px){

    html{
        scroll-padding-top: 0;
    }

    body{
        padding-bottom: 6rem;
    }

    .header .header-2{
        display: none;
    }

    .botao-navbar{
        display: block;
    }

    #pesquisa-btn{
        display: inline-block;
    }

    .header .header-1{
        box-shadow: var(--box-shadow);
        position: relative;
    }

    .header .header-1 .pesquisa-formulario{
        position: absolute;
        top: -115%; right: 2rem;
        width: 90%;
        box-shadow: var(--box-shadow);
    }

    .header .header-1 .pesquisa-formulario.active{
        top: 115%;
    }
}

@media (max-width: 450px){

    html{
        font-size: 50%;
    };

}